.message{
    background-color: lavender;
    padding: 12px;
    border-radius: 10px;
    width: fit-content;
}

.sent{
    background-color: #DCF8C6;
    color: #000;
}

.received {
    background-color: #F1F0F0;
    color: #000;
}

.date,
.date .bi{
    font-size: x-small;
    padding-top: 5px;
    color: #000;
    text-align: right;
}